<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Carros</title>






</head>


<body>
         <ul class="nav justify-content-center">

                  <li class="nav-item">
                    <a class="nav-link" href="/carros">Carros</a>
                  </li>


                  <li class="nav-item">
                    <a class="nav-link" href="/fabric">Fabricantes</a>

                  </li>
              </ul>


{% block content %}
{% endblock %}

</body>


</html>